.AuthModal
    box-sizing: border-box
    padding: 60px 40px
    width 500px

    &__login
        padding-bottom: 24px

    &__title
        padding-bottom: 24px

    &__body
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 24px

    &__actions
        display flex
        gap 8px
        justify-content flex-end
